@import url("base.css");
header {
  width: 100%;
  height: 0.4rem;
  background: #EC3B31;
  overflow: hidden;
  font-size: 0.16rem; }

header a {
  color: #fff; }

.xwblok {
  width: 0.5rem;
  height: 0.3rem;
  float: left;
  margin: 0.1rem;
  padding-left: 0.05rem; }

.tpblok {
  width: 0.5rem;
  height: 0.3rem;
  float: left;
  margin: 0.1rem;
  padding-left: 0.05rem; }

.ssblok {
  width: 0.5rem;
  height: 0.3rem;
  float: right;
  margin: 0.1rem;
  padding-left: 0.05rem; }

.jiazai {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /*display: none;*/ }

.jiazai img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  /* display: block;
   width: 100%;
   height: 100%;*/ }

#wrapper {
  width: 100%;
  height: 0.5rem;
  border-bottom: 1px solid #ccc;
  overflow: hidden; }

#wrapper #scroller {
  width: 7rem;
  height: 100%; }

#wrapper #scroller ul {
  overflow: hidden; }

#wrapper #scroller li {
  width: 1rem;
  height: 100%;
  float: left;
  font-size: 0.16rem;
  text-align: center;
  line-height: 0.5rem; }

#wrapper #scroller .active {
  color: red;
  font-size: 0.18rem; }

.swiper-container {
  height: 2rem; }

.swiper-container img {
  display: block;
  width: 100%; }

main {
  width: 100%;
  height: auto;
  padding: 0.05rem;
  box-sizing: border-box; }

main .xwlist {
  width: 95%;
  height: 1rem;
  padding: 0.02rem;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 0.08rem;
  padding-top: 0.08rem;
  border-bottom: 1px solid #cccccc; }

main .xwlist .xwtp {
  width: 40%;
  height: 1rem;
  float: left;
  overflow: hidden; }

main .xwlist .xwtp img {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden; }

main .xwlist .right {
  width: 55%;
  height: 100%;
  float: left;
  margin-left: 0.08rem; }

main .xwlist .right .xwtitle {
  width: 100%;
  height: 70%;
  float: left;
  font-size: 0.16rem;
  text-align: center;
  line-height: 0.3rem; }

main .xwlist .right .xwtitle a {
  color: #000; }

main .xwlist .right .xwqt {
  width: 100%;
  height: 30%;
  float: right;
  font-size: 0.1rem;
  /*text-align: center;*/ }

main .xwlist .right .xwqt .xwtime {
  width: 45%;
  height: 100%;
  float: left;
  font-size: 0.1rem;
  line-height: 100%; }

main .xwlist .right .xwqt .xwpl {
  width: 55%;
  height: 100%;
  float: left;
  font-size: 0.08rem;
  line-height: 100%;
  color: #000; }

main .xwlist .right .xwqt .xwpl i {
  margin-left: 0.2rem; }
